emulator/*/*.out
emulator/*/*.out.gz
emulator/*/emulator
emulator/*/emulator-debug
emulator/*/generated-src
emulator/*/generated-src-debug
emulator/*/*.o
emulator/*/*.a
emulator/*/output/
project/build.scala
project/plugins.sbt
project/build.properties
prefix.mk
*.tar.gz
install/share
*.pyc
*.swp
*.vcd
*.vpd
.DS_Store
sbt/*/target
*/target
*.log

# riscv-tests
riscv-tests/*~
riscv-tests/*.riscv
riscv-tests/*.host
riscv-tests/*.o
riscv-tests/*.dump
riscv-tests/*.out
riscv-tests/*.hex
riscv-tests/.*.swp
riscv-tests/*.pyc
riscv-tests//autom4te.cache
riscv-tests//Makefile
riscv-tests//config.log
riscv-tests//config.status
riscv-tests//build

# riscv-fesvr
riscv-fesvr/build/
riscv-fesvr/autom4te.cache/
